<div class="profile">
  <a href="/">
    <img src="/images/profile.jpg" alt="profile_image" class="img-circle" style="width: 80px;">
  </a>
</div>
 <h3 class="profile">
  <a href="/" class="unstyled_link">Sangyong Jung</a>
</h3>

<p>
  An Entrepreneur,<br>
  A Ruby on Rails Developer,<br>
  And a UX Researcher
</p>

<hr>

<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="/">Works</a>
  </li>
  <li>
    <a href="/">Skills</a>
  </li>
  <li>
    <a href="/resume/">Resume</a>
  </li>
</ul>

<hr>

<ul class="list-unstyled">
  <li>
    <small>
      <i class="fa fa-envelope"></i> sangyong.jung@gmail.com<br/>
    </small>
  </li>
</ul>

<hr>